# ignore the node_modules folder
**/node_modules/**
!node_modules/_

# ignore the searchspring-mockups repo
searchspring-sites/
springboard-sites/

# ignore the user configuration options
lib/config/user.json
lib/config/cache.json

# ignore the dev sass cache
lib/app/scss/.sass-cache

# ignore annoying files
.DS_Store
