# ignore the node_modules folder
node_modules/

# ignore the searchspring-mockups repo
searchspring-sites/

# ignore the configuration options
options.json

# ignore the jshint config
.jshintrc

# ignore annoying files
.DS_Store

# ignore cache directory (for thumbs)
.cache
