//- extended header Content

extends ./above.jade

block headerextend
  input#frameurl(name='url', autocomplete='off', spellcheck='false')
  .openurl
  .line
  .worksite
    a.currentsite
      span#currentsite= site.name
    .siteselect
      ul.sitebuttons
        li
          a.refresh(onclick="sb.refreshSiteList()")
        li
          a.push(onclick="sb.pushSite()")
        li
          a.upload(onclick="sb.publishSite()")
        li
          a.pull(onclick="sb.mergeSite()")
      .sitesearch
        input#searchbox(autocomplete='off')
        label.lookingglass(for="searchbox")
      .sitescroller
        ul.sitechoices
          -var show_images = true;
          each site in sites
            -var site_url = '/sites/' + site.name + '/' + site.name + '.html';
            li
              a(onclick="sb.switchSite('" + site.name + "', '" + site_url + "')")
                .shade
                  .info
                    span.sitename= site.name
                if (site.image && show_images)
                  img(src="/sites/thumbs/" + site.name + "/" + site.name + '.png')
                else if (!site.image && show_images)
                  img(src="/images/working.png")
