//- Header Content

#above
  .heading
    .title
      img.logo(src='/images/ssdoge.png')
      .subtitle SǷ®1ͶgƁ0ΛɌԂ
    .mainmenu
      ul.menuoptions
        li
          a
            span.menuicon.newsite
            span.menutext new site
        li
          a
            span.menuicon.settings
            span.menutext settings
        li
          a
            span.menuicon.sitegallery
            span.menutext view sites
    block headerextend
