//- Header Content

#above
  .heading
    .title
      .logo
      .subtitle SPRIΠGBOΛRD
    .mainmenu
      ul.menuoptions
        li
          a(onclick="sb.createSiteInput()")
            span.menuicon.newsite
            span.menutext new site
        li
          a(href='/')
            span.menuicon.editsite
            span.menutext edit sites
        li
          a(href='/sites/')
            span.menuicon.sitegallery
            span.menutext view sites
        li
          a
            span.menuicon.settings
            span.menutext settings
    block headerextend
