//- Footer Content

#footer
  #input.modal
    .wrap
      
  #loading.modal
    .wrap
      img.loadImage(src="/images/loading.gif")
script#__bs_script__
      | document.write("<script async src='http://HOST:3333/browser-sync/browser-sync-client.2.7.12.js'><\/script>".replace("HOST", location.hostname));
