//- Footer Content

#footer

script#__bs_script__
      | document.write("<script async src='http://HOST:3333/browser-sync/browser-sync-client.2.2.1.js'><\/script>".replace("HOST", location.hostname));
