extends ./layouts/main.jade

block append head
  //- add some more scripts?

block title
  title= site.name

block header
  //- include the header
  include ./layouts/above_edit_mode.jade

block body
  #frame
    -var site_url = 'http://localhost:1338/sites/' + site.name + '/' + site.name + '.html';
    iframe#frameview(name='frameview', src=site_url, onLoad='sb.updateUrl()')
