extends ./layouts/main.jade

block append head
  //- add some more scripts?

block title
  title springboard gallery

block header
  //- include the header
  include ./layouts/above.jade

block body
  #gallery
    #siteshow
      ul
        each site in sites
          li
            -var site_url = '/sites/' + site.name + '/' + site.name + '.html';
            a(onclick="sb.viewSite('" + site.name + "')")
              span= site.name
              if site.image
                img(src="/sites/thumbs/" + site.name + "/" + site.name + '.png')
              else
                img(src="/images/working.png")
