body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #0058a6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01214f), to(#0058a6));
  background-image: -webkit-linear-gradient(top, #01214f, #0058a6);
  background-image: -moz-linear-gradient(top, #01214f, #0058a6);
  background-image: -o-linear-gradient(top, #01214f, #0058a6);
  background-image: linear-gradient(to bottom, #01214f, #0058a6);
  background: url('../images/blue-bkgrd.jpg') center center fixed;
  background: #01214f \9;
  background-size: cover;
  background-position: 0px 0px; }
  body #above {
    position: absolute;
    width: 100%;
    height: 36px;
    padding: 0;
    margin: 0;
    z-index: 6; }
    body #above .heading {
      display: inline-block;
      float: left;
      width: 100%;
      margin: 0; }
      body #above .heading .logo {
        vertical-align: middle; }
      body #above .heading .subtitle {
        display: inline-block;
        color: #885200;
        margin-left: 9px;
        vertical-align: middle;
        font-size: 30px; }
  body #content #frame iframe {
    position: absolute;
    top: 36px;
    background-color: #fff;
    border: none;
    width: 100%;
    height: 100%; }
