/* line 27, stdin */
html {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }

/* line 34, stdin */
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #354E66;
  color: #0E1920; }
  /* line 44, stdin */
  body a {
    color: #C87C0F;
    font-weight: bold;
    text-decoration: none; }
  /* line 49, stdin */
  body input, body select, body textarea {
    padding: 7px;
    color: #7194AD;
    background-color: #001A2B; }
    /* line 53, stdin */
    body input:focus, body input:active, body select:focus, body select:active, body textarea:focus, body textarea:active {
      outline: 0; }
  /* line 57, stdin */
  body #main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    /* line 63, stdin */
    body #main #above {
      flex-shrink: 0;
      padding: 0;
      margin: 0;
      z-index: 6; }
    /* line 72, stdin */
    body #main #content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
      height: 100%;
      background: url("/images/sitebg.jpg") center center fixed;
      background-size: cover;
      background-position: 0px 0px; }
      /* line 81, stdin */
      body #main #content.fullscreen {
        top: 0; }
    /* line 85, stdin */
    body #main #below {
      flex-shrink: 0; }

/* line 5, /home/korgon/Work/springboard/build/scss/_gui.scss */
.button {
  min-width: 80px;
  border: solid 1px #C87C0F;
  border-radius: 2px;
  background: #C87C0F;
  color: white;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 12px;
  text-decoration: none;
  text-transform: uppercase; }
  /* line 23, /home/korgon/Work/springboard/build/scss/_gui.scss */
  .button:disabled {
    border: #352C17;
    background: #352C17;
    cursor: default; }
  /* line 28, /home/korgon/Work/springboard/build/scss/_gui.scss */
  .button:hover:not(:disabled) {
    background: #724911;
    border-color: #724911; }
  /* line 32, /home/korgon/Work/springboard/build/scss/_gui.scss */
  .button:focus {
    outline: 0; }
  /* line 35, /home/korgon/Work/springboard/build/scss/_gui.scss */
  .button.right {
    float: right; }

/* line 40, /home/korgon/Work/springboard/build/scss/_gui.scss */
label {
  margin-bottom: 6px;
  display: block;
  color: #3F525F; }

/* line 46, /home/korgon/Work/springboard/build/scss/_gui.scss */
input[type="text"], select {
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #001A2B;
  border: 1px solid #354E66;
  color: #61717B;
  margin-bottom: 10px; }
  /* line 53, /home/korgon/Work/springboard/build/scss/_gui.scss */
  input[type="text"]:focus, input[type="text"]:active, select:focus, select:active {
    color: #7194AD; }

/* line 7, /home/korgon/Work/springboard/build/scss/_header.scss */
body #above .heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #001A2B;
  color: #354957;
  border-bottom: 1px solid #304B66; }
  /* line 18, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading.gallery {
    justify-content: space-between; }
  /* line 21, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading.hidden {
    display: none; }
  /* line 24, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .title {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    order: 0;
    height: 40px;
    z-index: 9; }
    /* line 31, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .title:hover {
      cursor: pointer; }
    /* line 34, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .title:hover + .mainmenu {
      max-height: 300px; }
    /* line 37, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .title .logo {
      order: 1;
      background-image: url("/images/springs.png");
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 40px;
      border: 0;
      width: 40px;
      height: 40px;
      margin-left: 15px; }
    /* line 48, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .title .subtitle {
      order: 2;
      color: #718599;
      margin: 0 10px;
      font-size: 21px; }
  /* line 55, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .mainmenu {
    position: absolute;
    left: -1px;
    top: 41px;
    box-sizing: border-box;
    width: auto;
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    transition: max-height 144ms ease;
    z-index: 7; }
    /* line 66, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .mainmenu:hover {
      max-height: 300px;
      overflow: initial; }
    /* line 70, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .mainmenu.show {
      max-height: 300px; }
    /* line 73, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .mainmenu ul.menuoptions {
      background-color: #00121E;
      clear: left;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 80, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .mainmenu ul.menuoptions li {
        width: 222px;
        clear: left; }
        /* line 83, /home/korgon/Work/springboard/build/scss/_header.scss */
        body #above .heading .mainmenu ul.menuoptions li a {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          height: 40px;
          width: 100%;
          border: 1px solid #00121E;
          color: #3F525F;
          transition: border 144ms ease;
          text-transform: uppercase;
          z-index: 3px; }
          /* line 95, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .mainmenu ul.menuoptions li a:hover, body #above .heading .mainmenu ul.menuoptions li a:active {
            background-color: #00121E;
            cursor: pointer;
            color: #718599;
            border: 4px solid #00121E;
            box-shadow: 0px 1px 3px #354E66;
            margin-left: -4px;
            z-index: 5px; }
          /* line 104, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .mainmenu ul.menuoptions li a:hover > .menuicon {
            opacity: 1; }
          /* line 107, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .mainmenu ul.menuoptions li a span.menuicon {
            display: inline-block;
            width: 60px;
            height: 40px;
            opacity: 0.7;
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: center; }
            /* line 115, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .mainmenu ul.menuoptions li a span.menuicon.editsite {
              background-image: url("/images/icons/editsite.png"); }
            /* line 118, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .mainmenu ul.menuoptions li a span.menuicon.newsite {
              background-image: url("/images/icons/newsite.png"); }
            /* line 121, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .mainmenu ul.menuoptions li a span.menuicon.settings {
              background-image: url("/images/icons/settings.png"); }
            /* line 124, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .mainmenu ul.menuoptions li a span.menuicon.sitegallery {
              background-image: url("/images/icons/site.png"); }
  /* line 135, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading #frameurl {
    order: 2;
    flex: 1 1 33%;
    margin: 0 10px;
    display: block;
    border-radius: 6px;
    border: 1px solid #304B66;
    width: 100%; }
    /* line 143, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading #frameurl:focus {
      background-color: #0E1920;
      color: #C87C0F; }
  /* line 148, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .sitesearch {
    display: flex;
    order: 3;
    flex: 0 0 auto;
    margin: 0 10px;
    justify-content: flex-start;
    background-color: #00121E;
    border-radius: 6px;
    border: 1px solid #304B66;
    width: 240px; }
    @media only screen and (max-width: 480px) {
      /* line 148, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .sitesearch {
        display: none; } }
    /* line 161, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .sitesearch #searchbox {
      order: 2;
      flex-grow: 2;
      border: 0;
      margin: 7px 13px 0px 0;
      padding: 0 3px 5px;
      color: #2B343B;
      background-color: #00121E;
      width: auto;
      transition: all 222ms ease; }
      /* line 171, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .sitesearch #searchbox:focus {
        color: #688BA3; }
      /* line 174, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .sitesearch #searchbox:focus ~ .lookingglass {
        opacity: 1; }
    /* line 178, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .sitesearch .lookingglass {
      order: 1;
      width: 40px;
      margin: 0;
      opacity: .6;
      background-image: url("/images/icons/search_tiny.png");
      background-position: center;
      background-repeat: no-repeat;
      transition: all 222ms ease; }
  /* line 189, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .openurl {
    order: 3;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    background-image: url("/images/icons/open_small.png");
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 9px; }
    /* line 199, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .openurl:hover {
      cursor: pointer;
      opacity: 1; }
  /* line 204, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .refresh {
    order: 3;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    background-image: url("/images/icons/refresh.png");
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 9px; }
    /* line 214, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .refresh:hover {
      cursor: pointer;
      opacity: 1; }
  /* line 219, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .line {
    order: 4;
    height: 40px;
    border-right: 1px solid #304B66;
    border-left: 1px solid #001A2B; }
  /* line 225, /home/korgon/Work/springboard/build/scss/_header.scss */
  body #above .heading .worksite {
    order: 4;
    flex-basis: 252px;
    width: 252px;
    height: 40px; }
    /* line 230, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .worksite a.currentsite {
      display: block;
      position: relative;
      text-align: center;
      padding: 0;
      margin: 0;
      line-height: 40px;
      height: 40px;
      z-index: 9; }
      /* line 240, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite a.currentsite span {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        color: #718599; }
      /* line 247, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite a.currentsite:hover {
        cursor: pointer; }
      /* line 250, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite a.currentsite:hover + .optionselect {
        max-height: 1200px; }
    /* line 254, /home/korgon/Work/springboard/build/scss/_header.scss */
    body #above .heading .worksite .optionselect {
      position: absolute;
      right: 0;
      width: 290px;
      max-height: 0px;
      overflow: hidden;
      margin: 1px 0 0;
      transition: max-height 144ms ease, max-height 400ms ease-out;
      z-index: 7; }
      /* line 263, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect:hover {
        max-height: 1200px; }
      /* line 266, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect.show {
        max-height: 1200px; }
      /* line 270, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect .spacer {
        background-color: #00121E;
        border-left: 1px solid #2B343B;
        width: 244px;
        height: 5px;
        clear: right;
        float: right; }
      /* line 279, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect ul.gitbuttons {
        display: flex;
        width: 251px;
        flex-flow: row nowrap;
        justify-content: space-around;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #304B66;
        border-right: 0;
        background-color: #001A2B; }
        /* line 291, /home/korgon/Work/springboard/build/scss/_header.scss */
        body #above .heading .worksite .optionselect ul.gitbuttons li {
          display: inline-block;
          flex-grow: 1;
          text-align: center;
          height: 40px; }
          /* line 296, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .worksite .optionselect ul.gitbuttons li a {
            display: inline-block;
            width: 100%;
            height: 40px;
            opacity: 0.5;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center center; }
            /* line 304, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a:hover {
              cursor: pointer;
              opacity: 1; }
            /* line 310, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a.commit {
              background-image: url("/images/icons/commit.png"); }
            /* line 313, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a.refresh {
              background-image: url("/images/icons/refresh.png"); }
            /* line 316, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a.push {
              background-image: url("/images/icons/push.png"); }
            /* line 319, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a.upload {
              background-image: url("/images/icons/upload.png"); }
            /* line 322, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect ul.gitbuttons li a.pull {
              background-image: url("/images/icons/pull_request.png"); }
      /* line 329, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect .tabcontrol {
        display: flex;
        width: 244px;
        flex-flow: row nowrap;
        justify-content: space-around;
        clear: both;
        float: right;
        list-style: none;
        margin: 0;
        padding: 4px 0 0;
        background-color: #00121E;
        border-left: 1px solid #2B343B;
        position: relative; }
        /* line 342, /home/korgon/Work/springboard/build/scss/_header.scss */
        body #above .heading .worksite .optionselect .tabcontrol li {
          display: inline-block;
          flex-grow: 1;
          text-align: center;
          height: 33px;
          margin: 0px 3px 0px; }
          /* line 348, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .worksite .optionselect .tabcontrol li a {
            display: inline-block;
            width: 100%;
            height: 33px;
            opacity: 0.5;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center center;
            border: 1px solid transparent;
            border-bottom: 0; }
            /* line 358, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.active {
              background-color: #001A2B;
              border: 1px solid #304B66;
              border-bottom: 0;
              opacity: 1; }
            /* line 364, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a:hover {
              cursor: pointer;
              opacity: 1; }
            /* line 370, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.modules {
              background-image: url("/images/icons/module.png"); }
            /* line 373, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.settings {
              background-image: url("/images/icons/edit.png"); }
            /* line 376, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.files {
              background-image: url("/images/icons/files.png"); }
            /* line 379, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.history {
              background-image: url("/images/icons/history.png"); }
            /* line 382, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.tags {
              background-image: url("/images/icons/tag.png"); }
            /* line 385, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.variables {
              background-image: url("/images/icons/variable.png"); }
            /* line 388, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.themes {
              background-image: url("/images/icons/theme.png"); }
            /* line 391, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .tabcontrol li a.plugins {
              background-image: url("/images/icons/plugin.png"); }
      /* line 398, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect .tabwrap {
        width: 250px;
        height: auto;
        clear: both;
        float: right;
        border: 1px solid #304B66;
        background-color: #001A2B;
        transition: height 144ms ease, height 400ms ease-out; }
        /* line 406, /home/korgon/Work/springboard/build/scss/_header.scss */
        body #above .heading .worksite .optionselect .tabwrap .tabcontent {
          padding: 10px;
          width: auto; }
      /* line 412, /home/korgon/Work/springboard/build/scss/_header.scss */
      body #above .heading .worksite .optionselect .modulescroller {
        clear: both;
        float: right;
        width: 252px;
        border-top: 1px solid #304B66; }
        /* line 417, /home/korgon/Work/springboard/build/scss/_header.scss */
        body #above .heading .worksite .optionselect .modulescroller ul.modulechoices {
          list-style: none;
          margin: 0;
          padding: 0; }
          /* line 421, /home/korgon/Work/springboard/build/scss/_header.scss */
          body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li {
            font-size: 14px;
            color: #718599;
            position: relative; }
            /* line 427, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .name {
              display: block;
              height: 33px;
              overflow: hidden;
              transition: all 222ms ease;
              padding: 0 12px;
              background-color: #001A2B;
              border-left: 1px solid #304B66;
              border-bottom: 1px solid #304B66;
              line-height: 33px;
              color: #718599;
              text-align: center;
              font-weight: bold; }
              /* line 440, /home/korgon/Work/springboard/build/scss/_header.scss */
              body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .name:hover {
                cursor: pointer; }
            /* line 444, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabwrap {
              background-color: #001A2B;
              border-left: 1px solid #304B66;
              border-bottom: 1px solid #304B66;
              display: table; }
            /* line 450, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontents {
              display: table-cell;
              vertical-align: top;
              width: 100%;
              padding: 10px; }
            /* line 456, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrolwrap {
              display: table-cell;
              padding: 4px 0;
              background-color: #00121E;
              border-right: 1px solid #304B66; }
            /* line 462, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol {
              display: flex;
              float: left;
              flex-flow: column wrap;
              justify-content: space-around;
              clear: both;
              list-style: none;
              margin: 0;
              padding: 0;
              background-color: #00121E;
              border-left: 1px solid #2B343B; }
              /* line 473, /home/korgon/Work/springboard/build/scss/_header.scss */
              body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li {
                flex: 1 1 auto;
                text-align: center;
                width: 34px;
                margin: 0; }
                /* line 478, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a {
                  display: inline-block;
                  width: 100%;
                  height: 33px;
                  opacity: 0.5;
                  background-repeat: no-repeat;
                  background-size: 20px;
                  background-position: center center;
                  border: 1px solid transparent;
                  border-right: 0; }
                  /* line 488, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a.active {
                    background-color: #001A2B;
                    border: 1px solid #304B66;
                    border-right: 0;
                    opacity: 1; }
                  /* line 494, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a:hover {
                    cursor: pointer;
                    opacity: 1; }
                  /* line 500, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a.settings {
                    background-image: url("/images/icons/edit.png"); }
                  /* line 503, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a.variables {
                    background-image: url("/images/icons/variable.png"); }
                  /* line 506, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a.themes {
                    background-image: url("/images/icons/theme.png"); }
                  /* line 509, /home/korgon/Work/springboard/build/scss/_header.scss */
                  body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .vtabcontrol li a.plugins {
                    background-image: url("/images/icons/plugin.png"); }
            /* line 515, /home/korgon/Work/springboard/build/scss/_header.scss */
            body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule {
              text-align: center;
              clear: both;
              background-color: #001A2B;
              border: 1px solid #304B66;
              border-top: 0;
              border-right: 0;
              width: 100%;
              box-sizing: border-box; }
              /* line 524, /home/korgon/Work/springboard/build/scss/_header.scss */
              body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addbutton {
                height: 33px; }
                /* line 526, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addbutton .add {
                  display: inline-block;
                  width: 15px;
                  height: 30px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  border-radius: 50px;
                  transition: all 222ms ease;
                  background-image: url("/images/icons/add.png");
                  background-size: 25px; }
                /* line 537, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addbutton:hover {
                  cursor: pointer; }
                /* line 540, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addbutton:hover > .add {
                  -webkit-filter: drop-shadow(0px 0px 3px #688BA3);
                  filter: drop-shadow(0px 0px 3px #688BA3); }
              /* line 545, /home/korgon/Work/springboard/build/scss/_header.scss */
              body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule label {
                display: inline-block;
                width: 40px; }
              /* line 549, /home/korgon/Work/springboard/build/scss/_header.scss */
              body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addmoduleinput {
                padding: 10px 0;
                display: none; }
                /* line 552, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addmoduleinput.visible {
                  display: block; }
                /* line 555, /home/korgon/Work/springboard/build/scss/_header.scss */
                body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addmoduleinput #modulename_input, body #above .heading .worksite .optionselect .modulescroller ul.modulechoices li .addmodule #addmoduleinput #moduletype_input {
                  width: 180px;
                  height: 33px;
                  background-color: #00121E; }

/* line 5, /home/korgon/Work/springboard/build/scss/_editor.scss */
body iframe {
  display: block;
  background-color: #fff;
  border: none;
  width: 100%;
  height: 100%; }

/* line 4, /home/korgon/Work/springboard/build/scss/_gallery.scss */
body #gallery {
  width: auto;
  margin: 0; }
  /* line 7, /home/korgon/Work/springboard/build/scss/_gallery.scss */
  body #gallery .sites {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0; }
    /* line 15, /home/korgon/Work/springboard/build/scss/_gallery.scss */
    body #gallery .sites .createsite {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box; }
      /* line 20, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .createsite #createbutton {
        background: rgba(0, 12, 22, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
        width: 100%;
        height: 100%; }
        /* line 29, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .createsite #createbutton:hover {
          cursor: pointer;
          background: rgba(0, 12, 22, 0.9); }
          /* line 32, /home/korgon/Work/springboard/build/scss/_gallery.scss */
          body #gallery .sites .createsite #createbutton:hover .sitebutton {
            -webkit-filter: drop-shadow(0px 0px 3px #688BA3);
            filter: drop-shadow(0px 0px 3px #688BA3); }
        /* line 37, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .createsite #createbutton .sitebutton {
          margin-top: 50px; }
      /* line 41, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .createsite #createinput {
        background: rgba(0, 12, 22, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 20px; }
        /* line 51, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .createsite #createinput.visible {
          opacity: 1; }
        /* line 54, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .createsite #createinput input {
          width: 150px; }
        /* line 57, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .createsite #createinput .buttons {
          margin-top: 5px;
          overflow: auto;
          text-align: center; }
          /* line 61, /home/korgon/Work/springboard/build/scss/_gallery.scss */
          body #gallery .sites .createsite #createinput .buttons .new_add {
            width: 80px;
            margin-right: 10px; }
          /* line 65, /home/korgon/Work/springboard/build/scss/_gallery.scss */
          body #gallery .sites .createsite #createinput .buttons .new_cancel {
            width: 80px; }
    /* line 71, /home/korgon/Work/springboard/build/scss/_gallery.scss */
    body #gallery .sites .site {
      box-sizing: border-box;
      width: 320px;
      height: 180px;
      position: relative;
      font-size: 14px;
      border: 1px solid #001A2B;
      margin: 5px 0.5%;
      overflow: hidden; }
      /* line 80, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .site:hover > .controls {
        top: 0; }
      /* line 83, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .site img {
        display: block;
        max-width: 100%; }
      /* line 87, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .site .controls {
        transition: top 222ms ease;
        background: rgba(0, 12, 22, 0.8);
        position: absolute;
        top: 147px;
        height: 100%;
        width: 100%;
        text-align: center; }
        /* line 95, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .site .controls.visible {
          top: 0; }
        /* line 98, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .site .controls a {
          display: inline-block;
          margin: 55px 20px 20px; }
          /* line 101, /home/korgon/Work/springboard/build/scss/_gallery.scss */
          body #gallery .sites .site .controls a:hover {
            cursor: pointer; }
      /* line 106, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .site .details {
        position: absolute;
        display: block;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        color: #718599;
        display: block;
        height: 30px; }
        /* line 115, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .site .details .name {
          line-height: 30px;
          padding-left: 12px;
          float: left; }
        /* line 120, /home/korgon/Work/springboard/build/scss/_gallery.scss */
        body #gallery .sites .site .details .detailsicons {
          float: right; }
          /* line 123, /home/korgon/Work/springboard/build/scss/_gallery.scss */
          body #gallery .sites .site .details .detailsicons .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            opacity: 0.4; }
            /* line 129, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-magento {
              background: url("/images/icons/meta/magento.png") no-repeat center; }
            /* line 132, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-bigcommerce {
              background: url("/images/icons/meta/bigcommerce.png") no-repeat center; }
            /* line 135, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-3dcart {
              background: url("/images/icons/meta/3dcart.png") no-repeat center; }
            /* line 138, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-miva {
              background: url("/images/icons/meta/miva.png") no-repeat center; }
            /* line 141, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-shopify {
              background: url("/images/icons/meta/shopify.png") no-repeat center; }
            /* line 144, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-yahoo {
              background: url("/images/icons/meta/yahoo.png") no-repeat center; }
            /* line 147, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-custom {
              background: url("/images/icons/meta/custom.png") no-repeat center; }
            /* line 150, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-netsuite {
              background: url("/images/icons/meta/netsuite.png") no-repeat center; }
            /* line 153, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-volusion {
              background: url("/images/icons/meta/volusion.png") no-repeat center; }
            /* line 156, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.cart-commercev3 {
              background: url("/images/icons/meta/cv3.png") no-repeat center; }
            /* line 159, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.backend-solr {
              background: url("/images/icons/meta/solr.png") no-repeat center; }
            /* line 162, /home/korgon/Work/springboard/build/scss/_gallery.scss */
            body #gallery .sites .site .details .detailsicons .icon.backend-saluki {
              background: url("/images/icons/meta/saluki.png") no-repeat center; }
    /* line 169, /home/korgon/Work/springboard/build/scss/_gallery.scss */
    body #gallery .sites .sitebutton {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50px;
      transition: all 222ms ease; }
      /* line 178, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .sitebutton:hover {
        -webkit-filter: drop-shadow(0px 0px 3px #688BA3);
        filter: drop-shadow(0px 0px 3px #688BA3); }
      /* line 182, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .sitebutton.edit {
        background-image: url("/images/icons/gears.png"); }
      /* line 185, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .sitebutton.open {
        background-image: url("/images/icons/open.png"); }
      /* line 188, /home/korgon/Work/springboard/build/scss/_gallery.scss */
      body #gallery .sites .sitebutton.add {
        background-image: url("/images/icons/add.png"); }

/* line 7, /home/korgon/Work/springboard/build/scss/_modals.scss */
#modals .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999999; }

/* line 18, /home/korgon/Work/springboard/build/scss/_modals.scss */
#modals #loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999999;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  text-align: center;
  opacity: .6; }
  /* line 30, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals #loading.ng-hide {
    opacity: 0; }
  /* line 33, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals #loading .wrap {
    position: relative;
    top: 0;
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 0 auto;
    background-color: #001A2B;
    border: 1px solid #354E66;
    box-shadow: 0px 0px 20px #C87C0F; }
    /* line 44, /home/korgon/Work/springboard/build/scss/_modals.scss */
    #modals #loading .wrap .loadImage {
      background: url("/images/loading.gif");
      position: absolute;
      left: 0;
      width: 124px;
      height: 128px; }

/* line 55, /home/korgon/Work/springboard/build/scss/_modals.scss */
#modals .boxwrap {
  width: 250px;
  height: auto;
  border: 1px solid #304B66;
  margin: 90px auto 0px;
  padding: 0; }
  /* line 61, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals .boxwrap.alert {
    width: 350px; }
  /* line 64, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals .boxwrap.input {
    width: 350px; }
  /* line 67, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals .boxwrap .boxtop {
    height: 22px;
    overflow: hidden;
    background-color: #0E1920;
    background-image: linear-gradient(#354957, #304B66);
    border-bottom: 1px solid #1B3141; }
    /* line 73, /home/korgon/Work/springboard/build/scss/_modals.scss */
    #modals .boxwrap .boxtop ul.boxbuttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 80, /home/korgon/Work/springboard/build/scss/_modals.scss */
      #modals .boxwrap .boxtop ul.boxbuttons li {
        display: inline-block;
        margin: 4px; }
        /* line 83, /home/korgon/Work/springboard/build/scss/_modals.scss */
        #modals .boxwrap .boxtop ul.boxbuttons li a {
          display: inline-block;
          width: 15px;
          height: 15px;
          opacity: 0.5;
          background-repeat: no-repeat; }
          /* line 89, /home/korgon/Work/springboard/build/scss/_modals.scss */
          #modals .boxwrap .boxtop ul.boxbuttons li a.close {
            background-image: url("/images/icons/close_tiny.png");
            background-size: 15px; }
            /* line 92, /home/korgon/Work/springboard/build/scss/_modals.scss */
            #modals .boxwrap .boxtop ul.boxbuttons li a.close:hover {
              opacity: 1;
              cursor: pointer; }
        /* line 98, /home/korgon/Work/springboard/build/scss/_modals.scss */
        #modals .boxwrap .boxtop ul.boxbuttons li.move {
          margin: 0;
          flex-grow: 12;
          height: 27px; }
          /* line 102, /home/korgon/Work/springboard/build/scss/_modals.scss */
          #modals .boxwrap .boxtop ul.boxbuttons li.move:hover {
            cursor: move; }
  /* line 109, /home/korgon/Work/springboard/build/scss/_modals.scss */
  #modals .boxwrap .boxcontent {
    text-align: center;
    background-color: #001A2B;
    padding: 10px;
    color: #718599; }
    /* line 114, /home/korgon/Work/springboard/build/scss/_modals.scss */
    #modals .boxwrap .boxcontent .boxmessage {
      display: table;
      border-spacing: 20px;
      width: 100%; }
      /* line 118, /home/korgon/Work/springboard/build/scss/_modals.scss */
      #modals .boxwrap .boxcontent .boxmessage .messageicon {
        display: table-cell;
        vertical-align: middle;
        width: 30px;
        height: 30px; }
        /* line 123, /home/korgon/Work/springboard/build/scss/_modals.scss */
        #modals .boxwrap .boxcontent .boxmessage .messageicon.alert {
          background: url("/images/icons/alert.png") no-repeat center;
          background-size: 30px; }
        /* line 127, /home/korgon/Work/springboard/build/scss/_modals.scss */
        #modals .boxwrap .boxcontent .boxmessage .messageicon.commit {
          background: url("/images/icons/commit.png") no-repeat center;
          background-size: 30px; }
      /* line 132, /home/korgon/Work/springboard/build/scss/_modals.scss */
      #modals .boxwrap .boxcontent .boxmessage .message {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
    /* line 138, /home/korgon/Work/springboard/build/scss/_modals.scss */
    #modals .boxwrap .boxcontent .inputs {
      width: 90%;
      margin: 0px auto 10px; }
      /* line 141, /home/korgon/Work/springboard/build/scss/_modals.scss */
      #modals .boxwrap .boxcontent .inputs input {
        width: 100%; }

/*# sourceMappingURL=springboard.css.map */