body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #354E66;
  color: #0E1920; }
  body a {
    color: #DD8500;
    font-weight: bold;
    text-decoration: none; }
  body input, body select, body textarea {
    padding: 7px;
    border: 0;
    color: #7194AD;
    font-weight: bold;
    background-color: #001A2B; }
    body input:focus, body input:active, body select:focus, body select:active, body textarea:focus, body textarea:active {
      outline: 0; }
  body #content {
    top: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/images/sitebg.jpg') center center fixed;
    background-size: cover;
    background-position: 0px 0px;
    overflow: auto; }
    body #content.fullscreen {
      top: 0; }

body .modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999999; }
body .boxwrap {
  position: relative;
  margin: 90px auto 0px;
  padding: 20px;
  pointer-events: auto; }
body #loading {
  text-align: center; }
  body #loading .wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 0 auto;
    background-color: #001A2B;
    border: 1px solid #354E66;
    box-shadow: 0px 0px 20px #DD8500; }
    body #loading .wrap .loadImage {
      position: absolute;
      left: 5px;
      top: 9px;
      width: 111px;
      height: 111px; }
body #input .boxwrap {
  width: 250px;
  height: auto;
  border: 1px solid #1B3141;
  padding: 0; }
  body #input .boxwrap .boxtop {
    height: 22px;
    overflow: hidden;
    background-color: #0E1920;
    background-image: linear-gradient(#001A2B, #000);
    border-bottom: 1px solid #1B3141; }
    body #input .boxwrap .boxtop ul.boxbuttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0; }
      body #input .boxwrap .boxtop ul.boxbuttons li {
        display: inline-block;
        margin: 4px; }
        body #input .boxwrap .boxtop ul.boxbuttons li a {
          display: inline-block;
          width: 15px;
          height: 15px;
          opacity: 0.5;
          background-repeat: no-repeat; }
          body #input .boxwrap .boxtop ul.boxbuttons li a.close {
            background-image: url('/images/icons/close_tiny.png');
            background-size: 15px; }
            body #input .boxwrap .boxtop ul.boxbuttons li a.close:hover {
              opacity: 1;
              cursor: pointer; }
        body #input .boxwrap .boxtop ul.boxbuttons li.move {
          margin: 0;
          flex-grow: 12;
          height: 27px; }
          body #input .boxwrap .boxtop ul.boxbuttons li.move:hover {
            cursor: move; }
  body #input .boxwrap .boxcontent {
    background-color: #00121E;
    padding: 10px; }
    body #input .boxwrap .boxcontent label {
      margin-bottom: 6px;
      display: block;
      color: #3F525F;
      font-size: 18px; }
    body #input .boxwrap .boxcontent input[type="text"], body #input .boxwrap .boxcontent select {
      width: 100%;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #001A2B;
      border: 1px solid #354E66;
      color: #61717B;
      margin-bottom: 10px; }
      body #input .boxwrap .boxcontent input[type="text"]:focus, body #input .boxwrap .boxcontent input[type="text"]:active, body #input .boxwrap .boxcontent select:focus, body #input .boxwrap .boxcontent select:active {
        color: #7194AD; }
    body #input .boxwrap .boxcontent .buttons {
      margin-top: 30px; }
    body #input .boxwrap .boxcontent input[type="submit"], body #input .boxwrap .boxcontent input[type="button"] {
      width: 100%;
      border: 1px solid #1B3141;
      border-radius: 3px;
      background-color: #0E1920;
      background-image: linear-gradient(#1B3141, #001A2B);
      color: #DD8500;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
      body #input .boxwrap .boxcontent input[type="submit"]:hover, body #input .boxwrap .boxcontent input[type="button"]:hover {
        cursor: pointer;
        background-image: linear-gradient(#1B3141, #0E1920);
        color: #DD8500; }
    body #input .boxwrap .boxcontent input[type="button"] {
      float: right; }

body #above {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6; }
  body #above .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: #001A2B;
    color: #354957;
    border-bottom: 1px solid #304B66; }
    body #above .heading.hidden {
      display: none; }
    body #above .heading .title {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      order: 1;
      height: 40px;
      z-index: 9; }
      body #above .heading .title:hover {
        cursor: pointer; }
      body #above .heading .title:hover + .mainmenu {
        max-height: 300px; }
      body #above .heading .title .logo {
        height: 40px;
        margin-left: 15px; }
      body #above .heading .title .subtitle {
        color: #3F525F;
        margin: 0 10px;
        font-size: 21px; }
    body #above .heading .mainmenu {
      position: absolute;
      left: -1px;
      top: 41px;
      box-sizing: border-box;
      width: auto;
      max-height: 0px;
      overflow: hidden;
      margin: 0;
      background-color: #0E1920;
      transition: max-height 144ms ease;
      z-index: 7; }
      body #above .heading .mainmenu:hover {
        max-height: 300px;
        overflow: initial; }
      body #above .heading .mainmenu ul.menuoptions {
        list-style: none;
        margin: 0;
        padding: 0; }
        body #above .heading .mainmenu ul.menuoptions li {
          width: 222px; }
          body #above .heading .mainmenu ul.menuoptions li:last-of-type {
            border: 0; }
          body #above .heading .mainmenu ul.menuoptions li a {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            height: 50px;
            width: 100%;
            border: 1px solid #2B343B;
            color: #2B343B;
            transition: border 144ms ease;
            text-transform: uppercase; }
            body #above .heading .mainmenu ul.menuoptions li a:hover {
              background-color: #00121E;
              cursor: pointer;
              color: #354957;
              border: 4px solid #00121E;
              box-shadow: 0px 1px 3px #688BA3;
              margin-left: -4px; }
            body #above .heading .mainmenu ul.menuoptions li a:hover > .menuicon {
              opacity: 1; }
            body #above .heading .mainmenu ul.menuoptions li a span.menuicon {
              display: inline-block;
              width: 60px;
              height: 50px;
              opacity: 0.5;
              background-repeat: no-repeat;
              background-size: 25px;
              background-position: center; }
              body #above .heading .mainmenu ul.menuoptions li a span.menuicon.editsite {
                background-image: url('/images/icons/editsite.png'); }
              body #above .heading .mainmenu ul.menuoptions li a span.menuicon.newsite {
                background-image: url('/images/icons/newsite.png'); }
              body #above .heading .mainmenu ul.menuoptions li a span.menuicon.settings {
                background-image: url('/images/icons/settings.png'); }
              body #above .heading .mainmenu ul.menuoptions li a span.menuicon.sitegallery {
                background-image: url('/images/icons/site.png'); }
            body #above .heading .mainmenu ul.menuoptions li a span.menutext {
              margin-left: 10px; }
    body #above .heading #frameurl {
      order: 2;
      flex: 1 1 33%;
      margin: 0 10px;
      display: block;
      border-radius: 6px;
      border: 1px solid #304B66;
      width: 100%; }
      body #above .heading #frameurl:focus {
        background-color: #0E1920;
        color: #DD8500; }
    body #above .heading .openurl {
      order: 3;
      flex: 0 0 auto;
      width: 20px;
      height: 20px;
      opacity: 0.1618033;
      background-image: url('/images/icons/open.png');
      background-repeat: no-repeat;
      background-size: 20px;
      margin-right: 9px;
      -webkit-filter: drop-shadow(16px 16px 10px, #000000); }
      body #above .heading .openurl:hover {
        cursor: pointer;
        opacity: 1; }
    body #above .heading .line {
      order: 4;
      height: 40px;
      border-right: 1px solid #304B66;
      border-left: 1px solid #001A2B; }
    body #above .heading .worksite {
      order: 4;
      width: 250px;
      height: 40px; }
      body #above .heading .worksite .worksitecontainer a.currentsite {
        display: block;
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 40px;
        height: 40px;
        z-index: 9; }
        body #above .heading .worksite .worksitecontainer a.currentsite span {
          display: inline-block;
          width: 100%;
          font-size: 14px;
          font-weight: bold;
          color: #3F525F; }
        body #above .heading .worksite .worksitecontainer a.currentsite:hover {
          cursor: pointer; }
        body #above .heading .worksite .worksitecontainer a.currentsite:hover + .siteselect {
          max-height: 1200px; }
      body #above .heading .worksite .worksitecontainer .siteselect {
        position: absolute;
        width: 250px;
        max-height: 1px;
        overflow: hidden;
        margin: -1px -1px 0 -1px;
        background-color: #1B3141;
        border: 1px solid #304B66;
        border-top: 0;
        transition: max-height 144ms ease, max-height 400ms ease-out;
        z-index: 7; }
        body #above .heading .worksite .worksitecontainer .siteselect:hover {
          max-height: 1200px; }
        body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          list-style: none;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid #304B66;
          background-color: #001A2B; }
          body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li {
            display: inline-block;
            flex-grow: 1;
            text-align: center;
            height: 40px; }
            body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a {
              display: inline-block;
              width: 100%;
              height: 40px;
              opacity: 0.1618033;
              background-repeat: no-repeat;
              background-size: 20px;
              background-position: center center; }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a:hover {
                -webkit-filter: drop-shadow(0px 0px 3px #688BA3);
                filter: drop-shadow(0px 0px 3px #688BA3);
                cursor: pointer;
                opacity: 1; }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a.refresh {
                background-image: url('/images/icons/refresh.png'); }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a.push {
                background-image: url('/images/icons/commit.png'); }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a.upload {
                background-image: url('/images/icons/upload.png'); }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitebuttons li a.pull {
                background-image: url('/images/icons/pull_request.png'); }
        body #above .heading .worksite .worksitecontainer .siteselect .sitesearch {
          display: none; }
          body #above .heading .worksite .worksitecontainer .siteselect .sitesearch input {
            width: 225px;
            margin: 2px 5px; }
        body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices {
          list-style: none;
          margin: 0;
          padding: 0;
          max-height: 1100px;
          overflow-y: auto; }
          body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li {
            position: relative;
            font-size: 14px;
            border-top: 1px solid #304B66; }
            body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li:first-of-type {
              border-top: 0; }
            body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a {
              position: relative;
              display: block;
              height: 33px;
              overflow: hidden;
              transition: all 420ms ease; }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a:hover {
                color: #DD8500;
                height: 141px;
                cursor: pointer; }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a:hover > .info {
                height: 141px; }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a .info {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 33px;
                z-index: 1;
                box-sizing: border-box;
                padding-left: 12px;
                color: #3F525F;
                line-height: 33px;
                background: rgba(0, 25, 42, 0.9);
                transition: height 420ms ease; }
                body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a .info:hover {
                  background: rgba(0, 12, 22, 0.9); }
              body #above .heading .worksite .worksitecontainer .siteselect ul.sitechoices li a img {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 250px;
                margin-bottom: -3px; }

body #frame {
  display: none; }
  body #frame iframe {
    position: absolute;
    top: 0px;
    background-color: #fff;
    border: none;
    width: 100%;
    height: 100%; }
    body #frame iframe.maximized {
      top: 0px; }

body #gallery #siteshow {
  width: auto;
  margin: 20px; }
  body #gallery #siteshow ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    body #gallery #siteshow ul li {
      box-sizing: border-box;
      max-width: 320px;
      max-height: 180px;
      width: 24%;
      position: relative;
      font-size: 14px;
      border: 1px solid #001A2B;
      margin: 0.5%; }
      body #gallery #siteshow ul li:first-of-type {
        border-top: 0; }
      @media only screen and (max-width: 768px) {
        body #gallery #siteshow ul li {
          width: 45%; } }
      body #gallery #siteshow ul li a {
        display: block; }
        body #gallery #siteshow ul li a span {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          top: 0;
          padding-left: 12px;
          color: #3F525F;
          display: block;
          line-height: 33px;
          background: rgba(0, 12, 22, 0.9); }
        body #gallery #siteshow ul li a img {
          display: block;
          max-width: 100%; }
        body #gallery #siteshow ul li a:hover {
          color: #DD8500;
          cursor: pointer; }
        body #gallery #siteshow ul li a:hover > span {
          color: #DD8500; }

