// Skeleton Template Master

// variables (can be used throughout SCSS template files)
$font_size: 12px;

/* !!! Begin Main Styles !!! */

// bare bones settings
body #searchspring,
body #searchspring-main,
body #searchspring-sidebar {
  //Set the global font-family here
  font-size: $font_size;
  font-family: 'Open Sans', sans-serif;
}

/* !!! End Main Styles !!! */

// imported scss
@import "_mixins.scss";
@import "_facets.scss";
@import "_results_body.scss";
@import "_items.scss";
