<div class="heading">
  <div class="title">
    <div class="logo"></div>
    <div class="subtitle" ng-click="showMenu = !showMenu">SPRIΠGBOΛRD</div>
  </div>
  <div class="mainmenu" ng-include src="'/partials/_above_menu.html'" ng-class="{'show': showMenu}" ng-init="showMenu = false"></div>
  <input id="frameurl" name="url" autocomplete="off" spellcheck="false" ng-model="vm.url">
  <div class="openurl" ng-click="vm.openUrl()"></div>
  <div class="line"></div>
  <div class="worksite"><a class="currentsite" ng-click="showOptions = !showOptions"><span id="currentsite">{{ vm.site.name }}</span></a>
    <div class="optionselect" ng-class="{'show': showOptions}" ng-init="showOptions = false">

      <ul class="tabcontrol">
        <li><a class="modules" ng-class="{ 'active': (vm.tab == 'modules')}" ng-click="vm.switchTab('modules')"></a></li>
        <li><a class="tags" ng-class="{ 'active': (vm.tab == 'tags')}" ng-click="vm.switchTab('tags')"></a></li>
        <li><a class="files" ng-class="{ 'active': (vm.tab == 'files')}" ng-click="vm.switchTab('files')"></a></li>
        <li><a class="settings" ng-class="{ 'active': (vm.tab == 'settings')}" ng-click="vm.switchTab('settings')"></a></li>
      </ul>
      <div class="tabwrap" ng-switch="vm.tab">
        <div class="tabcontent" ng-switch-when="modules">modules</div>
        <div class="tabcontent" ng-switch-when="tags">tags</div>
        <div class="tabcontent" ng-switch-when="files">files<p>directories</p><p>more files</p></div>
        <div class="tabcontent" ng-switch-when="settings">settings</div>
      </div>
      <div class="spacer"></div>
      <ul class="gitbuttons">
        <li><a ng-click="vm.commitSite()" class="commit"></a></li>
        <li><a ng-click="vm.pushSite()" class="push"></a></li>
        <li><a ng-click="vm.publishMockup()" class="upload"></a></li>
        <li><a ng-click="vm.prompty()" class="pull"></a></li>
      </ul>

      <!-- <div class="modulescroller">
        <ul class="modulechoices">
          <li ng-repeat="modules in vm.site.modules">
            <a>
              <div class="shade">
                <div class="info"><span class="sitename">{{ modules.name }}</span></div>
              </div>
            </a>
          </li>
          <li>
            <a>
              <div class="shade">
                <div class="info"><span class="modulename">Install Module</span></div>
                <i ng-repeat="module in vm.modules">{{ module.name }}</i>
              </div>
            </a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
