<div class="modals">

  <!-- loading modal -->
  <div id="loading" ng-show="vm.loading">
    <div class="wrap"><span class="loadImage"></div>
  </div>

  <div class="modal" modaly ng-show="vm.modalview" ng-switch="vm.modalview">
    <!-- alert modal -->
    <div class="boxwrap alert" ng-switch-when="alert" ng-controller="ModalAlertCtrl">
      <div class="boxtop"></div>
      <div class="boxcontent">
        <div class="boxmessage">
          <span class="messageicon alert"></span>
          <p class="message">{{ mm.message }}</p>
        </div>
        <div class="buttons">
          <button ng-click="mm.closeModal()" class="button">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>
