<div id="above" ng-include src="'/partials/above_gallery.html'"></div>

<div id="content">
  <div id="gallery">
    <div id="siteshow">
      <ul>
        <li class="site" ng-repeat="site in vm.sites">
          <img src="{{ site.thumb }}">
          <div class="controls">
            <a ng-click="vm.editSite(site.name)"><span class="button edit"></span></a>
            <a href="/sites/{{ site.name }}/{{ site.default_html }}" target="_blank"><span class="button open"></span></a>
          </div>
          <div class="details">{{ site.name }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="footer" ng-include src="'/partials/below_default.html'"></div>
