// autocomplete default styling

// v1.0.0 | 05/21/2015
// altered to import varialbe sheet
// built for springboard

// TODO add variable support
// @import ".default.var.scss";

#searchspring-autocomplete_results {
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  background-color: #fff;
  font-family: sans-serif;
  margin: 0 auto;
  list-style-type: none;
  padding: 3px;
  text-align: left;
  z-index: 999;
  width: 380px;
  &:before {
    content: '';
    background: url('//cdn.searchspring.net/autocomplete/ss-ra-arrow.png');
    width: 14px;
    height: 12px;
    top: -10px;
    left: 10px;
    position: absolute;
    display: block;
  }
  .ac_title {
    text-transform: uppercase;
    font-size: .8em;
    margin: 0 0 5px;
    padding: 10px 12px;
    color: #fff;;
    font-weight: 400;
    border-bottom: solid 1px #f5f5f5;
    background: #383838;
    &:first-of-type {
    }
  }
  .ac_term_result {
    padding: 3px 5px 3px 10px;
    color: #383838;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
    em {
      color: #000;
      font-style: normal;
      font-weight: 600;
    }
  }
  .ac_product_result {
    padding: 6px;
    border-bottom: solid 1px #f5f5f5;
    a {
      text-decoration: none;
    }
    .info {
      float: left;
      width: 80%;
      margin-left: 3%;
      font-size: 11px;
      .name {
        color: #383838;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1em;
        em {
          font-style: normal;
          color: #383838;
          font-weight: bold
        }
      }
      .sku {
        color: #767676;
        letter-spacing: 1px;
        font-size: 1em;
        font-style: normal;
        float: right;
        display: block;
        margin-top: 11px;
        em {
          font-weight: bold;
          color: #383838;
        }
      }
      .price {
        color: #767676;
        font-size: 1.2em;
        float: left;
        display: block;
        font-style: italic;
        margin-top: 10px
      }
    }
    .image {
      height: 80px;
      width: 16%;
      display: block;
      overflow: hidden;
      float: left;
      img {
        max-height: 80px;
        max-width: 100%;
        margin: 0 auto;
        border: 0;
      }
    }
    .clear {
      clear: both;
    }
  }
  .ac_result {
    &:hover, &.highlight {
      background-color: #f8f8f8;
    }
  }
  .ac_result_even {
    background-color: #f8f8f8;
  }
  .ac_result_even:hover {
    background-color: #f5f5f5;
  }
  .ac_term_suggest {
    display: block;
    padding: 10px 12px;
    color: #fff;
    border: none;
    padding: 5px 0;
    font-size: .8em;
    text-align: center;
    font-weight: 400;
    &:hover, &.highlight {
      cursor: pointer;
      background-color: #e5e5e5;
    }
    em {
      color: #fff;
    }
  }
  .ac_powered {
    text-align: center;
    padding: 1px 0 3px;
    height: 20px;
    background-color: #383838;
  }
}
